<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzpq.mapper.EmpDao">

    <select id="findAll"  resultType="Emp">
        select * from t_emp
    </select>

    <insert id="save" parameterType="Emp"  useGeneratedKeys="true" keyProperty="id">
        insert into t_emp values (#{id},#{name},#{age},#{dept},#{photoPath})
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from t_emp where id = #{id}
    </delete>

    <select id="findOne" resultType="Emp" parameterType="Integer">
        select * from t_emp where id = #{id}
    </select>

    <update id="update" parameterType="Emp">
        update t_emp set name = #{name}, age = #{age}, dept = #{dept}, photopath = #{photoPath} where id = #{id}
    </update>
</mapper>